$post-background-color: #1a1f2d;
$post-width: 30rem;
$post-margin: 1rem;
$post-image-border-radius: 0.3rem;
$post-link-color: #e6e7e8;
$post-header-color: #e6e7e8;
$post-content-color: #70778d;
$post-footer-color: #70778d;
$post-source-name-color: #e6e7e8;