.post {
  --post-width: 30rem;
  --post-margin: 1rem;
  --post-image-border-radius: 0.3rem;
  --post-link-color: hsl(210, 4%, 91%);
  --post-header-color: hsl(210, 4%, 91%);
  --post-content-color: hsl(0, 0%, 84%);
  --post-footer-color: hsl(226, 11%, 50%);
  --post-source-name-color: hsl(210, 4%, 91%);

  background: var(--accent-color);
  width: var(--post-width);
  margin: var(--post-margin);
  break-inside: avoid;
  border-radius: 3px;

  img {
    border-radius: var(--post-image-border-radius);
    padding-bottom: 0.3rem;
    width: 100%;
    transform: all 10s ease-out;
  }

  a {
    color: var(--post-link-color);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: rgb(74, 255, 180);
    }
  }

  .header {
    color: var(--post-header-color);
    font-size: 1.2em;
    padding: 1.2rem;
    padding-bottom: 0;
  }

  .content {
    color: var(--post-content-color);
    padding: 1.2rem;
    line-height: 1.32em;

    pre {
      overflow: hidden;
      padding: 0.5rem;
      background: #202d3b;
    }
  }

  .footer {
    padding: 1rem;
    padding-top: 0;
    color: var(--post-footer-color);
    display: flex;
    flex-direction: column;

    .footer-topline {
      display: flex;
      padding-bottom: 0.5em;

      .source-name {
        color: var(--post-source-name-color);
        text-transform: capitalize;
      }
    }

    .footer-bottom {
      display: flex;
      align-items: flex-start;

      .views,
      .datetime {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        font-size: 0.9em;

        >svg {
          padding-right: 0.4rem;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .post {
    width: 25rem;
  }
}

@media (max-width: 1360px) {
  .post {
    width: 33rem;
  }
}

@media (max-width: 1200px) {
  .post {
    width: 28rem;
  }
}

@media (max-width: 1000px) {
  .post {
    width: 100%;
  }
}